<ActionBar title="My App" backgroundColor="#E1FFEE"> </ActionBar>

<StackLayout backgroundColor="#CFD2CF">
  <StackLayout
    height="200"
    backgroundColor="white"
    margin="20 10"
    orientation="horizontal"
  >
    <StackLayout orientation="vertical">
      <Image
        src="https://images-eu.ssl-images-amazon.com/images/I/71AvQd3VzqL._AC._SR360,460.jpg"
        height="100"
        width="150"
        margin="5 10"
        Alignment="left"
      ></Image>
      <button text="Details"></button>
    </StackLayout>
    <StackLayout orientation="vertical">
      <Image
        src="https://images-eu.ssl-images-amazon.com/images/I/71AvQd3VzqL._AC._SR360,460.jpg"
        height="100"
        width="150"
        margin="5 10"
        Alignment="left"
      ></Image>
      <button text="Details"></button>
    </StackLayout>
  </StackLayout>
  <StackLayout
    height="200"
    backgroundColor="white"
    margin="20 10"
    orientation="horizontal"
  >
    <StackLayout orientation="vertical">
      <Image
        src="https://images-eu.ssl-images-amazon.com/images/I/71AvQd3VzqL._AC._SR360,460.jpg"
        height="100"
        width="150"
        margin="5 10"
        Alignment="left"
      ></Image>
      <button text="Details" onclick=""></button>
    </StackLayout>
    <StackLayout orientation="vertical">
      <Image
        src="https://images-eu.ssl-images-amazon.com/images/I/71AvQd3VzqL._AC._SR360,460.jpg"
        height="100"
        width="150"
        margin="5 10"
        Alignment="left"
      ></Image>
      <button text="Details"></button>
    </StackLayout>
  </StackLayout>
</StackLayout>
